<h1>Listing students</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Hometown</th>
    <th>Hobby</th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.email %></td>
    <td><%= student.age %></td>
    <td><%= student.hometown %></td>
    <td><%= student.hobby %></td>
    <td><%= link_to 'Show', student %> / <%= link_to 'Edit', edit_student_path(student) %> / <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
